{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AIS - A.I Interview Simulator</title>

    <!-- Bootstrap core CSS -->
    <link href='{%static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href='{%static "vendor/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    
    <!-- Custom styles for this template -->
    <link href='{%static "css/agency.min.css" %}' rel="stylesheet">
    <link href='{%static "css/login.css" %}' rel="stylesheet">
    <link href='{%static "css/login_status.css" %}' rel="stylesheet">
    <link href='{%static "css/carousel.css" %}' rel="stylesheet">
    
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
        #typedtext {
            font-family: 'Anonymous Pro';
            font-size: 40px;
            margin: 10px 50px;
            letter-spacing: 6px;
            font-weight: bold;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
        .intro-text{
            height: 703px;
        }
    </style>
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" style="color: #205ec1" href="/">AIS</a>
            {% if user.is_authenticated %}
            <div class="profile-header-container">
                <div class="profile-header-img">
                    <img class="img-circle" src='{%static "img/user.png"%}' />
                    <!-- badge -->
                    <div class="rank-label-container">
                        <span class="label label-default rank-label">{{user.username}}</span>
                    </div>
                </div>
            </div>
            {% endif %}
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#introduction">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#interview">Interview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#Feature">Feature</a>
                    </li>

                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <a class="nav-link js-scroll-trigger" href="/member/logout">Logout</a>
                        {% else %}
                        <a class="nav-link js-scroll-trigger" data-toggle="modal" data-target="#login-modal" href="#">Sign In</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div id="typedtext"></div>
                <br> {% if user.is_authenticated %}
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" id="start_btn" href="/interviews/">지금 시작하기</a>
                {% else %}

                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" id="start_btn" data-toggle="modal" data-target="#login-modal"
                    href="#">지금 시작하기</a>
                {% endif %}
            </div>
        </div>
    </header>

    <!-- Introduction -->
    <section id="introduction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Introduction</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-12">
                            <h3> "인공지능 모의 면접 서비스"</h3><br>
                            <h2 style="color: #0069d9;"><strong>A.I.S</strong></h2>
                            <br>
                            <h4>인공지능을 활용하여 저렴한 비용으로 최적의 모의 면접 환경을 제공합니다.</h4><br> 
                            <h4><span style="color: #ff4d4d;">실제 면접에 사용되는 질문 </span><span class="text-muted">데이터베이스 활용</span></h4><br>
                            <h4><span style="color: #ff4d4d;">실시간 피드백</span><span class="text-muted">을 통한 면접 연습</span></h4><br>
                            <h4><span class="text-muted">모의 면접에 대한 </span><span style="color: #ff4d4d;">빠르고 객관적인 분석과 개선 방향 제시</span></h4><br>
                            <h4><span class="text-muted"> 내역을 통해 자신의 </span><span style="color: #ff4d4d;">성장하는 과정을 확인</span><span class="text-muted">하는 것 까지,</span></h4><br>
                            <h4> 언제! 어디서나! <span style="color: #0069d9;">AIS</span>와 함께! 면접 능력을 마음껏 향상해보세요!</h4><br>                    
                </div>
            </div>
        </div>
    </section>

    <!-- Interview -->
    <section class="bg-light" id="interview">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">Interview</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row text-center col-sm-12">
                    <div class="col-sm-6">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">연습 면접</h4>
                        <p class="text-muted">인공지능을 통해 면접을 연습할 수 있습니다!
                            <br> 여러분의 감정과 음성이 실시간으로 인식되며 관리하고 싶은 감정, 금지 단어를 설정하여 면접을 대비해보세요!
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">실전 면접</h4>
                        <p class="text-muted">연습 면접을 통해 충분한 연습이 되셨나요?
                            <br> 이번에는 실제 면접장과 비슷한 분위기로 조성된 <br>실전 면접 기능을 이용해보시는게 어떨까요?
                            <br> 인공지능이 당신의 면접 상태를 빠르고 객관적으로 분석해드립니다!</p>
                    </div>
                </div>
            </div>
		</div>
    </section>

    <!-- Feature -->
    <section id="Feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Feature</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row" style="-webkit-box-align:center; -webkit-box-pack:center; display:-webkit-box;">
                <div class="col-sm-6">
                    <h4 style="text-align: center"><span class="subheading">실시간 피드백</span></h4>
                    <br>
                    <p class="text-muted" style="padding:10px;">설정한 감정, 금지 단어에 대한 실시간 피드백을 받으며 면접을 연습할 수 있습니다.</p>   
                </div>
                <div class="col-sm-6">
                    <img src="{%static 'img/training.png' %}" style="width: 100%; height: 100%;">
                </div>
            </div>
            <br><br><br><br>      
            <div class="row" style="-webkit-box-align:center; -webkit-box-pack:center; display:-webkit-box;">
                <div class="col-sm-6">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                </ol>
        
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="{%static 'img/result1.png' %}" style="width: 100%; height: 100%;">
                                    </div>
        
                                    <div class="item">
                                            <img src="{%static 'img/result2.png' %}"style="width: 100%; height: 100%;">
                                    </div>
        
                                    <div class="item">
                                            <img src="{%static 'img/result3.png' %}"style="width: 100%; height: 100%;">
                                    </div>
                                    <br><br><br><br>
                                </div>
        
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                </div>
                	<div class="col-sm-6">
                    	<h4 style="text-align: center"><span class="subheading">모의 면접 분석</span></h4>
                    	<br>
                    	<p class="text-muted" style="padding:10px;">인공지능이 분석한 자신의 면접 상태를 확인해보세요!<br>분석한 결과를 토대로 면접 능력을 향상 할 수 있도록 도와드립니다</p>  
               	 	</div>
                
            </div>
            <br><br><br><br> 
            <div class="row" style="-webkit-box-align:center; -webkit-box-pack:center; display:-webkit-box;">
                <div class="col-sm-6">
                    <h4 style="text-align: center;"><span class="subheading">결과 내역</span></h4>
                    <p class="text-muted" style="padding:10px;">다시 확인하고 싶은 내역을 클릭하면 상세 분석 결과를 다시 확인해보실 수 있습니다.<br>그동안 자신이 어떻게 향상되어왔는지 확인해보세요!</p>   
                </div>
                <div class="col-sm-6">
                    <img src="{%static 'img/record_intro1.png' %}"style="width: 100%; height: 100%;">
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div style="text-align: center;">
            <div style="width: 33.3%; height: 150px; float: left; background-color: rgb(44,62,80);">
                <br>
                <a style="color:white; font-size: 24px; font-weight: bold">Copyright</a>
                <br>
                <br>
                <a style="color: white; font-size: 18px;">© 2018 Human Learning. &nbsp; All Rights Reserved </a>
            </div>
            <div style="width: 33.3%; height: 150px; float: left; background-color: rgb(44,62,80);">
                <br>
                <a style="color:white; font-size: 24px;  font-weight: bold">About Us&nbsp; </a>
                <br>
                <br>
                <a href="https://github.com/daegweon/ai_interview_simulator">
                    <i style="color: white; font-size:30px" class="fa"></i>
                </a>
                <a> &nbsp; &nbsp; </a>
                <a>
                    <i style="color: white; font-size:30px;" class="fa"></i>
                </a>
                <a> &nbsp; &nbsp; </a>
                <a href="#">
                    <i style="color: white; font-size:30px;" class="fa"></i>
                </a>
                <br>
                <br>
            </div>
            <div style="width: 33.3%; height: 150px; float: left; background-color: rgb(44,62,80);">
                <br>
                <a style="color:white; font-size: 24px; font-weight: bold">Contact Us&nbsp; </a>
                <br>
                <br>
                <a style="color: white; font-size: 18px;">quwieo@ajou.ac.kr</a>
            </div>
        </div>
    </footer>

    <!-- Log in Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="-webkit-box-align:center; -webkit-box-pack:center; display:-webkit-box;">
            <div class="modal-content" style="max-width: 350px">
                <div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h1>로그인</h1>
                    <br>
                    <form name="loginForm" id="loginForm">
                        {% csrf_token %}
                        <input type="text" name="username" id="login_user" placeholder="Username">
                        <input type="password" name="password" id="login_pw" placeholder="Password">
                        <input type="submit" name="login" id="login" class="login loginmodal-submit" value="로그인">
                    </form>
                    <div class="login-help">
                        <a class="close" data-dismiss="modal" data-toggle="modal" data-target="#register-modal">
                            <span aria-hidden="true" style="font-size : 12px">회원가입</span>
                            <span class="sr-only">Close</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Register Modal -->
    <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="-webkit-box-align:center; -webkit-box-pack:center; display:-webkit-box;">
            <div class="modal-content" style="max-width: 350px">
                <div class="loginmodal-container">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h1>회원가입</h1>
                    <br>
                    <form name="registerForm" id="registerForm">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="아이디" id="registerUsername">
                        <input type="password" name="password" placeholder="패스워드 (최소8자)" id="registerPassword1">
                        <input type="password" name="passwordConfirm" placeholder="패스워드 확인" id="registerPassword2">
                        <input type="text" name="last_name" placeholder="성" id="registerLastName">
                        <input type="text" name="first_name" placeholder="이름" id="registerFirstName">
                        <input type="submit" name="register" id="register" class="login loginmodal-submit" value="가입하기">
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src='{%static "vendor/jquery/jquery.min.js" %}'></script>
    <script src='{%static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

    <!-- Plugin JavaScript -->
    <script src='{%static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>

    <!-- Custom scripts for this template -->
    <script src='{%static "js/agency.min.js" %}'></script>
    <script src='{%static "js/authentication.js" %}'></script>
    <script>
        var login_status = {{ isLogin }}
        if (login_status == 0) {
            alert("로그인이 필요한 서비스입니다.");
            window.location.replace('/');
        }
    </script>
    <script>
        // set up text to print, each item in array is new line
        var aText = new Array(
            "A.I Interview Simulator",
            "Project by Human Learning Team"
        );
        var iSpeed = 100; // time delay of print out
        var iIndex = 0; // start printing array at this posision
        var iArrLength = aText[0].length; // the length of the text array
        var iScrollAt = 20; // start scrolling up at this many lines

        var iTextPos = 0; // initialise text position
        var sContents = ''; // initialise contents variable
        var iRow; // initialise current row

        function typewriter() {
            sContents = ' ';
            iRow = Math.max(0, iIndex - iScrollAt);
            var destination = document.getElementById("typedtext");

            while (iRow < iIndex) {
                sContents += aText[iRow++] + '<br />';
            }
            destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos) + "_";
            if (iTextPos++ == iArrLength) {
                iTextPos = 0;
                iIndex++;
                if (iIndex != aText.length) {
                    iArrLength = aText[iIndex].length;
                    setTimeout("typewriter()", 500);
                }
            } else {
                setTimeout("typewriter()", iSpeed);
            }
        }

        typewriter();
    </script>
</body>

</html>