{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AIS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- script used for audio/video/gif recording -->
    <script src='{%static "js/recording.js" %}'></script>
</head>

<body>

    <section class="experiment">
        <div class="inner">
            <button id="record-video">Record</button>
            <button id="stop-recording-video" disabled>Stop</button>
            <br>
            <div style="float: center; width: auto; height: inherit; padding: 20px">
                <video style="border: 1px solid black; align-items: center;" id="video-preview" width="580" height="440" autoplay></video>
                <video id="video-record" controls hidden></video>
            </div>
            <br>
        </div>
    </section>


    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        // Grab elements, create settings, etc.
        var video = document.getElementById('video-preview');

        // Get access to the camera and microphone!
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({
                video: true
            }).then(function(stream) {
                video.src = window.URL.createObjectURL(stream);
                video.play();
            });
        }

        var recordVideo;
        var videoRecord = document.getElementById('video-record');
        var inner = document.querySelector('.inner');
        document.querySelector('#record-video').onclick = function () {
            this.disabled = true;
            navigator.getUserMedia({
                video: true,
                audio: true
            }, function (stream) {
                videoRecord.src = window.URL.createObjectURL(stream);
                //videoRecord.play();
                recordVideo = RecordRTC(stream, {
                    type: 'video',
                    // recorderType: !!navigator.mozGetUserMedia ? MediaStreamRecorder : WhammyRecorder
                });
                recordVideo.startRecording();
            }, function (error) { throw error; });
            document.querySelector('#stop-recording-video').disabled = false;
        };
        document.querySelector('#stop-recording-video').onclick = function () {
            this.disabled = true;
            recordVideo.stopRecording(function (url) {
                var blob = this.getBlob();

                var file = new File([blob], 'filename.webm', {
                    type: 'video/webm'
                });

                var formData = new FormData();
                formData.append('file', file);

                formData.append('csrfmiddlewaretoken', csrftoken);
                uploadToServer(formData);
            });
        };
        function uploadToServer(formData) {

            $.ajax({
                url: '/interviews/save',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                async: false,
                success: function (data) {
                    alert('complete');
                }
            });
            return false;
        }
        window.onbeforeunload = function () {
            document.querySelector('#record-video').disabled = false;
        };
    </script>
</body>

</html>