<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
      
        AIS &middot; Interview Record
      
    </title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="../../static/css/toolkit-light.css" rel="stylesheet">
    <link href="../../static/css/application.css" rel="stylesheet">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>
  </head>


  <body class="axs">

  <nav class="ci pl adm ps tn app-navbar">
      <a class="pg" href="#record">
        <span class="bv bhc axt"></span>
        Interview Record
      </a>

      <button
        class="pj brm vi"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="pk"></span>
      </button>

      <div class="collapse pi" id="navbarResponsive">
        <ul class="nav navbar-nav ahm">
          <li class="pa">
            <a class="oy" href="#introduction">Introduction</a>
          </li>
          <li class="pa active">
            <a class="oy" href="#interview">Interview</a>
          </li>
          <li class="pa">
            <a class="oy" href="#result">Result</a>
          </li>
          <li class="pa">
            <a class="oy" href="#signin">Sign In</a>
          </li>
        </ul>

        <form class="nf d-none vp ahp">
          <input class="form-control" type="text" data-action="grow" placeholder="Search">
        </form>
      </div>
  </nav>

  <div class="dg ayk">
    <div class="bqn afg">
      <div class="bqo">
        <h6 class="bqq">Interviews</h6>
        <h2 class="bqp">Record</h2>
      </div>

    <div class="on bqr">
      <div class="axm bpy">
        <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
        <span class="bv bbc"></span>
      </div>
    </div>
  </div>

<div class="bpu aez afr">
  <h3 class="bpv bpw">Quick stats</h3>
</div>

<div class="dh brg">
  <div class="eq fb afr amd">
    <div class="brh">
      <div class="bss">
        <span class="bpi">Page views</span>
        <h2 class="bph">
          12,938
          <small class="cj qv">5%</small>
        </h2>
      </div>
      <canvas id="sparkline1" width="378" height="94" class="bri"
        data-chart="spark-line"
        data-dataset="[[28,68,41,43,96,45,100]]"
        data-dataset-options="[{borderColor: '#1ca8dd', backgroundColor:'rgba(28,168,221,.03)'}]"
        data-labels="['a', 'b','c','d','e','f','g']"
        style="width: 189px; height: 47px;"></canvas>
    </div>
  </div>
  <div class="eq fb afr amd">
    <div class="brh">
      <div class="bss">
        <span class="bpi">Downloads</span>
        <h2 class="bph">
          758
          <small class="cj qy">1.3%</small>
        </h2>
      </div>
      <canvas id="sparkline1" width="378" height="94" class="bri"
        data-chart="spark-line"
        data-dataset="[[4,34,64,27,96,50,80]]"
        data-dataset-options="[{borderColor: '#1ca8dd', backgroundColor:'rgba(28,168,221,.03)'}]"
        data-labels="['a','b','c','d','e','f','g']"
        style="width: 189px; height: 47px;"></canvas>
    </div>
  </div>
  <div class="eq fb afr amd">
    <div class="brh">
      <div class="bss">
        <span class="bpi">Sign-ups</span>
        <h2 class="bph">
          1,293
          <small class="cj qv">6.75%</small>
        </h2>
      </div>
      <canvas id="sparkline1" width="378" height="94" class="bri"
      data-chart="spark-line"
      data-dataset="[[12,38,32,60,36,54,68]]"
      data-dataset-options="[{borderColor: '#1ca8dd', backgroundColor:'rgba(28,168,221,.03)'}]"
      data-labels="['a','b','c','d','e','f','g']"
       style="width: 189px; height: 47px;"></canvas>
    </div>
  </div>
  <div class="eq fb afr amd">
    <div class="brh">
      <div class="bss">
        <span class="bpi">Downloads</span>
        <h2 class="bph">
          758
          <small class="cj qv">1.3%</small>
        </h2>
      </div>
      <canvas id="sparkline1" width="378" height="94" class="bri"
        data-chart="spark-line"
        data-dataset="[[43,48,52,58,50,95,100]]"
        data-dataset-options="[{borderColor: '#1ca8dd', backgroundColor:'rgba(28,168,221,.03)'}]"
        data-labels="['a','b','c','d','e','f','g']"
        style="width: 189px; height: 47px;"></canvas>
    </div>
  </div>
</div>

<div class="bpu afh">
  <ul class="nav pb bpv bpx" role="tablist">
    <li class="pa" role="presentation">
      <a href="#sales" class="oy active" role="tab" data-toggle="tab" aria-controls="sales">Sales</a>
    </li>
    <li class="pa" role="presentation">
      <a href="#inventory" class="oy" role="tab" data-toggle="tab" aria-controls="inventory">Inventory</a>
    </li>
    <li class="pa" role="presentation">
      <a href="#profit" class="oy" role="tab" data-toggle="tab" aria-controls="profit">Profit</a>
    </li>
  </ul>
</div>

<div class="pe">
  <div role="tabpanel" class="pf active" id="sales">
    <div class="bst">
      <canvas
        class="bpt"
        width="600" height="350"
        data-chart="line"
        data-dataset="[[2500, 3300, 2512, 2775, 2498, 3512, 2925, 4275, 3507, 3825, 3445, 3985]]"
        data-labels="['','Aug 29','','','Sept 5','','','Sept 12','','','Sept 19','']"
        data-dark="true"></canvas>
    </div>
  </div>

  <div role="tabpanel" class="pf" id="inventory">
    <div class="bst">
      <canvas
        class="bpt"
        width="600" height="400"
        data-chart="bar"
        data-dark="true"
        data-labels="['August','September','October','November','December','January','February']"
        data-dataset="[[65, 59, 80, 81, 56, 55, 40], [28, 48, 40, 19, 86, 27, 90]]"
        data-dataset-options="[{label: 'First dataset'}, {label: 'Second dataset'}]"></canvas>
    </div>
  </div>

  <div role="tabpanel" class="pf" id="profit">
    <div class="dh bsu avv">
      <div class="ea afk ahv">
        <div class="ayq ahn">
          <canvas
            class="bps"
            width="200" height="200"
            data-chart="doughnut"
            data-dataset="[230, 130]"
            data-dataset-options="{ borderColor: '#252830', backgroundColor: ['#1ca8dd', '#1bc98e'] }"
            data-labels="['Returning', 'New']"></canvas>
        </div>
        <strong class="awy">Traffic</strong>
        <h3>New vs Returning</h3>
      </div>
      <div class="ea afk ahv">
        <div class="ayq ahn">
          <canvas
            class="bps"
            width="200" height="200"
            data-chart="doughnut"
            data-dataset="[330,30]"
            data-dataset-options="{ borderColor: '#252830', backgroundColor: ['#1ca8dd', '#1bc98e'] }"
            data-labels="['Returning', 'New']"></canvas>
        </div>
        <strong class="awy">Revenue</strong>
        <h3>New vs Recurring</h3>
      </div>
      <div class="ea afk ahv">
        <div class="ayq ahn">
          <canvas
            class="bps"
            width="200" height="200"
            data-chart="doughnut"
            data-dataset="[100,260]"
            data-dataset-options="{ borderColor: '#252830', backgroundColor: ['#1ca8dd', '#1bc98e'] }"
            data-labels="['Referrals', 'Direct']"></canvas>
        </div>
        <strong class="awy">Traffic</strong>
        <h3>Direct vs Referrals</h3>
      </div>
    </div>
  </div>
</div>

<div class="bpu afn afk">
  <h3 class="bpv bpw">Other</h3>
</div>

<div class="dh">
  <div class="fc afr">
    <div class="by afd">
      <h6 class="aya">
        Countries
      </h6>
      
        <a class="pu rs xj ux" href="#">
          <span class="ayb" style="width: 62.4%;"></span>
          <span>United States</span>
          <span class="awy">62.4%</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span class="ayb" style="width: 15.0%;"></span>
          <span>India</span>
          <span class="awy">15.0%</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span class="ayb" style="width: 5.0%;"></span>
          <span>United Kingdom</span>
          <span class="awy">5.0%</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span class="ayb" style="width: 5.0%;"></span>
          <span>Canada</span>
          <span class="awy">5.0%</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span class="ayb" style="width: 4.5%;"></span>
          <span>Russia</span>
          <span class="awy">4.5%</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span class="ayb" style="width: 2.3%;"></span>
          <span>Mexico</span>
          <span class="awy">2.3%</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span class="ayb" style="width: 1.7%;"></span>
          <span>Spain</span>
          <span class="awy">1.7%</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span class="ayb" style="width: 1.5%;"></span>
          <span>France</span>
          <span class="awy">1.5%</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span class="ayb" style="width: 1.4%;"></span>
          <span>South Africa</span>
          <span class="awy">1.4%</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span class="ayb" style="width: 1.2%;"></span>
          <span>Japan</span>
          <span class="awy">1.2%</span>
        </a>
      
    </div>
    <a href="#" class="ce nr ags">All countries</a>
  </div>
  <div class="fc afr">
    <div class="by afd" id="recordlist">
      <h6 class="aya">
        사용자 면접 결과 내역
      </h6>
    </div>
    <a href="#" class="ce nr ags">View all pages</a>
  </div>
  <div class="fc afr">
    <div class="by afd">
      <h6 class="aya">
        Devices and resolutions
      </h6>
      
        <a class="pu rs xj ux" href="#">
          <span>Desktop (1920x1080)</span>
          <span class="awy">3,929,481</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span>Desktop (1366x768)</span>
          <span class="awy">1,143,393</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span>Desktop (1440x900)</span>
          <span class="awy">938,287</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span>Desktop (1280x800)</span>
          <span class="awy">749,393</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span>Tablet (1024x768)</span>
          <span class="awy">695,912</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span>Tablet (768x1024)</span>
          <span class="awy">501,938</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span>Phone (320x480)</span>
          <span class="awy">392,842</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span>Phone (720x450)</span>
          <span class="awy">298,183</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span>Desktop (2560x1080)</span>
          <span class="awy">193,129</span>
        </a>
      
        <a class="pu rs xj ux" href="#">
          <span>Desktop (2560x1600)</span>
          <span class="awy">93,382</span>
        </a>
      
    </div>
    <a href="#" class="ce nr ags">View all pages</a>
  </div>
</div>
  </div>
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/popper.min.js"></script>
    <script src="../../static/js/chart.js"></script>
    <script src="../../static/js/tablesorter.min.js"></script>
    <script src="../../static/js/toolkit.js"></script>
    <script src="../../static/js/application.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}});
      var dateText = document.createTextNode("{{ date|safe }}"); //면접 실시 날짜
      var recordCount = {{date|safe}}.length; //데이터의 갯수, for문을 몇 번돌지 결정
      for(var i=0;i<recordCount;i++){ //면접 내역 생성
        var divclass = document.getElementById('recordlist');
        var atag = document.createElement('a');
        atag.className ="pu rs xj ux";
        atag.id = "record"
        atag.href = "#"
        divclass.appendChild(atag);
        var countspanTag = document.createElement('span');
        countspanTag.appendChild(document.createTextNode(i+1));
        atag.appendChild(countspanTag);
        var recordspanTag = document.createElement('span');
        recordspanTag.className='awy';
        recordspanTag.appendChild(document.createTextNode(dateText.data.replace('[','').replace(']','').split(',')[i]));
        atag.appendChild(recordspanTag);
      }
      </script>
  </body>
</html>

