{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AIS - A.I Interview Simulator</title>

  <!-- Bootstrap core CSS -->
  <link href='{%static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href='{%static "vendor/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href='{%static "css/agency.min.css" %}' rel="stylesheet">
  <link href='{%static "css/recordList.css" %}' rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <style>
  </style>
</head>


<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg" style="height: 75px;background-color: rgb(44,62,80); text-transform: none" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top" style="color: white;" onclick="window.location.replace('/');">AIS</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" style="background-color: rgb(44,62,80);">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/interviews/training/hw-check/">Practice</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/interviews/test/hw-check/">Test</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/interviews/record">Record</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/member/logout/">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">

      <section class="content">
        <div class="col-md-12 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-success btn-filter" data-target="pagado">연습</button>
                  <button type="button" class="btn btn-warning btn-filter" data-target="pendiente">실전</button>
                  <button type="button" class="btn btn-default btn-filter" data-target="all">전체</button>
                </div>
              </div>
              <div class="table-container">
                <table class="table table-filter">
                  <tbody>
                    <tr>
                      <th>번호</th>
                      <th>평가명</th>
                      <th>면접종류</th>
                      <th>면접일시</th>
                    </tr>
                    <tr data-status="pagado">
                      <td width="10%">
                        <a href="#" class="pull-left">
                          1
                        </a>
                      </td>
                      <td width="30%">제 1회 모의면접</td>
                      <td width="20%">
                        <div class="media">
                          <div class="media-body">
                            <span class="pagado">연습</span>
                          </div>
                        </div>
                      </td>
                      <td width="40%">
                        <div class="media">
                          <div class="media-body">
                            <span class="media-meta">Febrero 13, 2016</span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr data-status="pendiente" class="selected">
                      <td width="10%">
                        <a href="#" class="pull-left">
                          2
                        </a>
                      </td>
                      <td width="30%">제 2회 모의면접</td>
                      <td width="20%">
                        <div class="media">
                          <div class="media-body">
                            <span class="pendiente">실전</span>
                          </div>
                        </div>
                      </td>
                      <td width="40%">
                        <div class="media">
                          <div class="media-body">
                            <span class="media-meta">Febrero 13, 2016</span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr data-status="pagado">
                      <td width="10%">
                        <a href="#" class="pull-left">
                          3
                        </a>
                      </td>
                      <td width="30%">제 3회 모의면접</td>
                      <td width="20%">
                        <div class="media">
                          <div class="media-body">
                            <span class="pagado">연습</span>
                          </div>
                        </div>
                      </td>
                      <td width="40%">
                        <div class="media">
                          <div class="media-body">
                            <span class="media-meta">Febrero 13, 2016</span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr data-status="pendiente" onclick="window.location.replace('/interviews/test/result/11')">
                      <td width="10%">
                        <a href="#" class="pull-left">
                          4
                        </a>
                      </td>
                      <td width="30%">제 4회 모의면접</td>
                      <td width="20%">
                        <div class="media">
                          <div class="media-body">
                            <span class="pendiente">실전</span>
                          </div>
                        </div>
                      </td>
                      <td width="40%">
                        <div class="media">
                          <div class="media-body">
                            <span class="media-meta">Febrero 13, 2016</span>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
  <script>
    var interviewList = {{ interviewList| safe}};
  </script>
</body>
<script> $(window).load(function () { $('#exampleModalCenter').modal('show'); }); </script>

<!-- Bootstrap core JavaScript -->
<script src='{%static "vendor/jquery/jquery.min.js" %}'></script>
<script src='{%static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

<!-- Plugin JavaScript -->
<script src='{%static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>

<!-- Custom scripts for this template -->
<script src='{%static "js/agency.min.js" %}'></script>
<script src='{%static "js/recordList.js" %}'></script>

</html>