{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AIS - A.I Interview Simulator</title>

  <!-- Bootstrap core CSS -->
  <link href='{%static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href='{%static "vendor/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href='{%static "css/agency.min.css" %}' rel="stylesheet">
  <link href='{%static "css/recordList.css" %}' rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <style>
  </style>
</head>


<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg" style="height: 75px;background-color: rgb(44,62,80); text-transform: none" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/interviews/" style="color: white;">AIS</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" style="background-color: rgb(44,62,80);">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/interviews/training/hw-check/">Practice</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/interviews/test/hw-check/">Test</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/interviews/record">Record</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/member/logout/">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">

      <section class="content">
        <div class="title col-md-12 col-md-offset-2">
          <span>결과 내역</span>
          <hr class="star-light">
        </div>
        <div class="col-md-12 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="table-container">
                <table class="table table-filter">
                  <tbody id="tablebody">
                    <tr>
                      <th style="text-align: center;">번호</th>
                      <th style="text-align: center;">평가명</th>
                      <th style="text-align: center;">면접일시</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
  <div style="text-align: center;">
    <div style="width: 33.3%; height: 150px; float: left; background-color: rgb(44,62,80);">
        <br>
        <a style="color:white; font-size: 24px; font-weight: bold">Copyright</a>
        <br><br>
        <a style="color: white; font-size: 18px;">© 2018 Human Learning. &nbsp; All Rights Reserved </a>
    </div>
    <div style="width: 33.3%; height: 150px; float: left; background-color: rgb(44,62,80);">
        <br>
        <a style="color:white; font-size: 24px;  font-weight: bold">About Us&nbsp; </a>
        <br><br>
        <a href="https://github.com/daegweon/ai_interview_simulator"> <i style="color: white; font-size:30px" class="fa"></i> </a>
        <a> &nbsp; &nbsp; </a>
        <a> <i style="color: white; font-size:30px;" class="fa"></i> </a>
        <a> &nbsp; &nbsp; </a>
        <a href="#"> <i style="color: white; font-size:30px;" class="fa"></i> </a>
        <br><br>
    </div>
    <div style="width: 33.3%; height: 150px; float: left; background-color: rgb(44,62,80);">
        <br>
        <a style="color:white; font-size: 24px; font-weight: bold">Contact Us&nbsp; </a>
        <br><br>
        <a style="color: white; font-size: 18px;">quwieo@ajou.ac.kr</a>
    </div>
  </div>
  <script>
    //디비에서 받아올 내용 : 그 사용자의 면접 횟수, 면접 타입, 면접 날짜, 링크
    var interviewTypeList = {{ interviewTypeList| safe}};
    var dateList = {{ dateList| safe }};
    var count = {{ count }};
    var interviewCountList = {{interviewCountList}};
    var tablebody = document.getElementById("tablebody");

    for (var i = 0; i < count; i++) {
      var row = document.createElement('tr');
      var firstcol = document.createElement('td');
      var secondcol = document.createElement('td');
      var thirdcol = document.createElement('td');
      var firstatag = document.createElement('a');
      var mediadiv2 = document.createElement('div');
      var mediabodydiv2 = document.createElement('div');
      var span2 = document.createElement('span');

      if (interviewTypeList[i] == 1) { //실전면접
        var testURL = '/interviews/test/result/'+interviewCountList[i];
        row.setAttribute("data-status", "pendiente");
        row.setAttribute("onClick","window.location.href='" + testURL + "'");
        secondcol.innerHTML = "제 " + (i+1) + "회 실전면접"; //어떤 몇회 어떤 타입의 모의 면접인지
      }

      firstcol.width = "20%";
      secondcol.width = "35%";
      thirdcol.width = "45%";
      firstcol.style.textAlign="center";
      secondcol.style.textAlign="center";
      thirdcol.style.textAlign="center";

      /* 테이블 column에 대한 설정 */
      firstatag.innerHTML = i+1; //몇 회 인지
      firstcol.appendChild(firstatag);
      mediadiv2.className = "media";
      mediabodydiv2.className = "media-body";
      span2.className = "media-meta";

      span2.innerHTML = dateList[i]; //면접 날짜 
      mediabodydiv2.appendChild(span2);
      mediadiv2.appendChild(mediabodydiv2);
      thirdcol.appendChild(mediadiv2);
      row.appendChild(firstcol);
      row.appendChild(secondcol);
      row.appendChild(thirdcol);
      tablebody.appendChild(row);
    }
  </script>
</body>
<script> $(window).load(function () { $('#exampleModalCenter').modal('show'); }); </script>

<!-- Bootstrap core JavaScript -->
<script src='{%static "vendor/jquery/jquery.min.js" %}'></script>
<script src='{%static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

<!-- Plugin JavaScript -->
<script src='{%static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>

<!-- Custom scripts for this template -->
<script src='{%static "js/agency.min.js" %}'></script>
<script src='{%static "js/recordList.js" %}'></script>

</html>