/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

/* ----- v CAN BE DELETED v ----- */
body {
    background-color: #26a69a;
    font-family: 'Open Sans', sans-serif;
    color: #353535;
}

.demo {
    padding-top: 60px;
    padding-bottom: 60px;
}

a.top {
    position: relative;
    left: 95%;
    bottom: 2%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    background: #000;
    color: #fff;
    font-size: 11px;
    text-align: center;
    border-radius: 10px;
}

.carousel-indicators li {
    border: 1px solid #000000;
}

.glyphicon-chevron-right:before {
    color: #000000;
    content: "\e080";
}

.glyphicon-chevron-left:before {
    color: #000000;
    content: "\e079";
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(255, 255, 255, 0.5) 100%);
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(255, 255, 255, 0.5) 100%);
}

hr.title {
    border-color: #fff;
    margin: 15px auto 15px;
    margin-left: 0px;
    margin-top: 5px;
    padding: 0;
    max-width: 100%;
    border: 0;
    border-top: solid 3px;
    text-align: center;
}

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.totalresult {
    padding-left: 30px;
}

#usernameSection {
    font-size: 20px;
    font-family: Noto Sans KR;
    font-weight: bold;
    text-align: center;
    height: 30px;
}

#totalTime {
    font-size: 16px;
    font-family: Nanum Myeongjo;
    text-align: center;
}

#questionTime {
    font-size: 16px;
    font-family: Nanum Myeongjo;
    text-align: center;
}

#questionContent {
    font-size: 16px;
    font-family: Nanum Myeongjo;
    text-align: center;
}

#best {
    font-size: 16px;
    font-family: Nanum Myeongjo;
    text-align: center;
}