{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AIS - A.I Interview Simulator</title>

    <!-- Bootstrap core CSS -->
    <link href='{%static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href='{%static "vendor/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href='{%static "css/agency.min.css" %}' rel="stylesheet">

    <!-- bootstrap checkbox -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!-- Sweetalert2 -->
    <script src='{%static "sweetalert2/res/sweetalert2.min.js" %}'></script>
    <script src='{%static "sweetalert2/res/sweetalert2.all.js" %}'></script>
    <link rel="stylesheet" href='{%static "sweetalert2/res/sweetalert2.min.css" %}'>

    <style>
        body {
            width: 1px;
            min-width: 100%;
            *width: 100%;
        }
        #video {
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            -ms-filter: fliph;
            /*IE*/
            filter: fliph;
            /*IE*/
        }

    </style>
</head>

<body id="page-top" style="background-color: #ECECEA">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg" style="height: 75px;background-color: rgb(44,62,80); text-transform: none" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/interviews/" style="color: white;">AIS</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="background-color: rgb(44,62,80);">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/interviews/training/hw-check/">Practice</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/interviews/test/hw-check/">Test</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/interviews/record">Record</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/member/logout/">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- HW Check -->
    <div style='-webkit-box-align:center; -webkit-box-pack:center; display:-webkit-box; margin-top: 50px; margin-bottom: 50px'>
        <div class="col-lg-12 text-center" style="width: 540px; float: left; border: 1px solid; padding: 20px">
            <br>
            <h2 style="font-size: 36px; font-weight: bold">면접준비 체크</h2>
            <br><br><br>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" id="camtest">
                    </div>
                </div>
                <input type="text" class="form-control" style="font-size: 24px; color: black" value="오른쪽 화면에 얼굴이 보이고 있나요?">
            </div>
            <br>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" id="mictest">
                    </div>
                </div>
                <input type="text" class="form-control" style="font-size: 24px; color: black" value="마이크에 입력된 목소리가 들리나요?">
            </div>
            <br>
            <button class="btn btn-primary btn-lg" onclick="next()"> Next </button>
        </div>

        <div style="width: 150px"> </div>

        <div style="float:left; width: auto; height: inherit; padding: 20px">
            <video style="border: 1px solid black; align-items: center;" id="video" width="532" height="400" autoplay></video>
        </div>
    </div>

    <!-- Footer -->
    <div style="text-align: center;">
        <div style="width: 33.3%; height: 150px; float: left; background-color: rgb(44,62,80);">
            <br>
            <a style="color:white; font-size: 24px; font-weight: bold">Copyright</a>
            <br><br>
            <a style="color: white; font-size: 18px;">&copy; 2018 Human Learning. &nbsp; All Rights Reserved </a>
        </div>
        <div style="width: 33.3%; height: 150px; float: left; background-color: rgb(44,62,80);">
            <br>
            <a style="color:white; font-size: 24px;  font-weight: bold">About Us&nbsp; </a>
            <br><br>
            <a href="https://github.com/daegweon/ai_interview_simulator"> <i style="color: white; font-size:30px" class="fa">&#xf09b;</i> </a>
            <a> &nbsp; &nbsp; </a>
            <a> <i style="color: white; font-size:30px;" class="fa">&#xf08c;</i> </a>
            <a> &nbsp; &nbsp; </a>
            <a href="#"> <i style="color: white; font-size:30px;" class="fa">&#xf0d5;</i> </a>
            <br><br>
        </div>
        <div style="width: 33.3%; height: 150px; float: left; background-color: rgb(44,62,80);">
            <br>
            <a style="color:white; font-size: 24px; font-weight: bold">Contact Us&nbsp; </a>
            <br><br>
            <a style="color: white; font-size: 18px;">quwieo@ajou.ac.kr</a>
        </div>
    </div>

    <script>
        function next() {
            var camtest = document.getElementById("camtest").checked;
            var mictest = document.getElementById('mictest').checked;

            if (camtest == true && mictest == true) {
                window.location.href = '/interviews/test/on-air';
            } else {
                //$('#warningModal').modal('show');
                swal({
                    title: '점검을 완료해주세요!',
                    //text: '카메라와 마이크가 작동해야 면접을 진행할 수 있어요.',
                    type: 'error',
                    confirmButtonText: '닫기'
                })
            }
        }

    </script>

    <script>
        // Grab elements, create settings, etc.
        var video = document.getElementById('video');

        // Get access to the camera and microphone!
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({
                video: true,
                audio: true
            }).then(function(stream) {
                video.src = window.URL.createObjectURL(stream);
                video.play();
            });
        }

    </script>

    <!-- Bootstrap core JavaScript -->
    <script src='{%static "vendor/jquery/jquery.min.js" %}'></script>
    <script src='{%static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

    <!-- Plugin JavaScript -->
    <script src='{%static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>

    <!-- Custom scripts for this template -->
    <script src='{%static "js/agency.min.js" %}'></script>

</body>

</html>
