{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <title>AIS - A.I Interview Simulator</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href='{%static "css/interviewResult.css" %}' rel="stylesheet">
    <script src='{%static "js/interviewResult.js" %}'></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src='{%static "js/personality.js" %}'></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script>
        //set Data Vlaue for Analyze
        var words = {{words | safe}};
        console.log(words);
        var angerList = [];
        var contemptList = [];
        var disgustList = [];
        var fearList = [];
        var happinessList = [];
        var neutralList = [];
        var sadnessList = [];
        var surpriseList = [];
        var xAxis = [[],];
        var tempemotionFreq = [0, 0, 0, 0, 0, 0, 0, 0];
        var emotionFreq = [];
        var questionList = {{questionList | safe }}
        {% for emotion in emotionResult %}
        var emotionList = JSON.parse({{ emotion| safe }}["emotion"]);
        var length = emotionList.length;
        var temp = [];
        for (var i = 0; i < length; i++) {
            temp.push(i + 1);
            tempemotionFreq[emotionList[i].indexOf(Math.max.apply(null, emotionList[i]))] += 1;
            angerList.push(emotionList[i][0]);
            contemptList.push(emotionList[i][1]);
            disgustList.push(emotionList[i][2]);
            fearList.push(emotionList[i][3]);
            happinessList.push(emotionList[i][4]);
            neutralList.push(emotionList[i][5]);
            sadnessList.push(emotionList[i][6]);
            surpriseList.push(emotionList[i][7]);
        }
        xAxis.push(temp);
        emotionFreq.push(tempemotionFreq);
        tempemotionFreq = [0, 0, 0, 0, 0, 0, 0, 0];
        {% endfor %}
    </script>
</head>

<body>
    <div class="container demo">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                            aria-controls="collapseOne">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            종합 분석 결과
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="usernameSection"></div>
                        <div id="totalTime"></div>
                        <div id="questionContent"></div>
                        <div id="questionTime"></div>
                        <div id="best"></div>
                    </div>
                    <script>
                        setTotalResult();
                        document.getElementById("usernameSection").innerHTML = "{{username}}님의 분석 결과 입니다.<br><br>";
                    </script>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            감정 분석 상세 결과
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" align="center">
                    <div class="panel-body"><h4 id="question1"></h4></div>
                    <div class="panel-body" id="linechart1"><p class="text-info" id="ltext1"></p></div>
                    <div class="panel-body" id="piechart1"><p class="text-info" id="ptext1"></p></div>
                    <div class="panel-body"><h4 id="question2"></h4></div>
                    <div class="panel-body" id="linechart2"><p class="text-info" id="ltext2"></p></div>
                    <div class="panel-body" id="piechart2"><p class="text-info" id="ptext2"></p></div>
                    <div class="panel-body"><h4 id="question3"></h4></div>
                    <div class="panel-body" id="linechart3"><p class="text-info" id="ltext3"></p></div>
                    <div class="panel-body" id="piechart3"><p class="text-info" id="ptext3"></p></div>
                    <div class="panel-body"><h4 id="question4"></h4></div>
                    <div class="panel-body" id="linechart4"><p class="text-info" id="ltext4"></p></div>
                    <div class="panel-body" id="piechart4"><p class="text-info" id="ptext4"></p></div>
                    <div class="panel-body"><h4 id="question5"></h4></div>
                    <div class="panel-body" id="linechart5"><p class="text-info" id="ltext5"></p></div>
                    <div class="panel-body" id="piechart5"><p class="text-info" id="ptext5"></p></div>
                    <script>
                        setEmotionTrendResult();
                        setEmotionFrequencyResult();
                    </script>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            성향 분석 상세 결과
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div id="sunburstChart"></div>
                    </div>
                    <script>
                        var profile = {{ personality | safe }};
                        var chart = new PersonalitySunburstChart({ selector: '#sunburstChart', version: 'v3' });
                        chart.show(profile);
                    </script>
                </div>
            </div>
        </div>
        <!-- panel-group -->
        <div>
            <a href="#" class="top">Top</a>
        </div>
    </div>
    <!-- container -->
</body>

</html>