{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <title>AIS - A.I Interview Simulator</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href='{%static "css/interviewResult.css" %}' rel="stylesheet">
    <script src='{%static "js/interviewResult.js" %}'></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <script>
        var angerList = [];
        var contemptList = [];
        var disgustList = [];
        var fearList = [];
        var happinessList = [];
        var neutralList = [];
        var sadnessList = [];
        var surpriseList = [];
        var xAxis = [];
        var tempemotionFreq = [0, 0, 0, 0, 0, 0, 0, 0];
        var emotionFreq = [];
        {% for emotion in emotionResult %}
        var emotionList = JSON.parse({{ emotion| safe }}["emotion"]);
        var length = emotionList.length;
        var temp = [];
        for (var i = 0; i < length; i++) {
            temp.push( i + 1);
            tempemotionFreq[emotionList[i].indexOf(Math.max.apply(null, emotionList[i]))] += 1;
            angerList.push(emotionList[i][0]);
            contemptList.push(emotionList[i][1]);
            disgustList.push(emotionList[i][2]);
            fearList.push(emotionList[i][3]);
            happinessList.push(emotionList[i][4]);
            neutralList.push(emotionList[i][5]);
            sadnessList.push(emotionList[i][6]);
            surpriseList.push(emotionList[i][7]);
        }
        xAxis.push(temp);
        console.log(xAxis);
        emotionFreq.push(tempemotionFreq);
        tempemotionFreq = [0, 0, 0, 0, 0, 0, 0, 0];
        {% endfor %}
    </script>
</head>

<body>
    <div class="container demo">


        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            감정 분석 결과
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body" id="linechart1"></div>
                    <div class="panel-body" id="piechart1"></div>
                    <div class="panel-body" id="linechart2"></div>
                    <div class="panel-body" id="piechart2"></div>
                    <div class="panel-body" id="linechart3"></div>
                    <div class="panel-body" id="piechart3"></div>
                    <div class="panel-body" id="linechart4"></div>
                    <div class="panel-body" id="piechart4"></div>
                    <div class="panel-body" id="linechart5"></div>
                    <div class="panel-body" id="piechart5"></div>
                    <script>
                        var anger = {
                            x: xAxis[0],
                            y: angerList.slice(0,xAxis[0].length),
                            type: 'lines',
                            name: '화남'
                        };
                        var contempt = {
                            x: xAxis[0],
                            y: contemptList.slice(0,xAxis[0].length),
                            type: 'lines',
                            name: '경멸'
                        };
                        var disgust = {
                            x: xAxis[0],
                            y: disgustList.slice(0,xAxis[0].length),
                            type: 'lines',
                            name: '역겨움'
                        };
                        var fear = {
                            x: xAxis[0],
                            y: fearList.slice(0,xAxis[0].length),
                            type: 'lines',
                            name: '공포'
                        };
                        var happiness = {
                            x: xAxis[0],
                            y: happinessList.slice(0,xAxis[0].length),
                            type: 'lines',
                            name: '행복'
                        };
                        var neutral = {
                            x: xAxis[0],
                            y: neutralList.slice(0,xAxis[0].length),
                            type: 'lines',
                            name: '중립'
                        };
                        var sadness = {
                            x: xAxis[0],
                            y: sadnessList.slice(0,xAxis[0].length),
                            type: 'lines',
                            name: '슬픔'
                        };
                        var surprise = {
                            x: xAxis[0],
                            y: surpriseList.slice(0,xAxis[0].length),
                            type: 'lines',
                            name: '놀람'
                        };
                        var layout = {
                            title: '질문1 감정 변화 추이',
                            xaxis: {
                                title: '시간'
                            },
                            yaxis: {
                                title: '감정 비중'
                            }
                        }
                        var data = [anger, contempt, disgust, fear, happiness, neutral, sadness, surprise];
                        Plotly.newPlot('linechart1', data, layout);
                       
                        var anger = {
                            x: xAxis[1],
                            y: angerList.slice(xAxis[0].length,xAxis[0].length+xAxis[1].length),
                            type: 'lines',
                            name: '화남'
                        };
                        console.log(anger.y);
                        var contempt = {
                            x: xAxis[1],
                            y: contemptList.slice(xAxis[0].length,xAxis[0].length+xAxis[1].length),
                            type: 'lines',
                            name: '경멸'
                        };
                        var disgust = {
                            x: xAxis[1],
                            y: disgustList.slice(xAxis[0].length,xAxis[0].length+xAxis[1].length),
                            type: 'lines',
                            name: '역겨움'
                        };
                        var fear = {
                            x: xAxis[1],
                            y: fearList.slice(xAxis[0].length,xAxis[0].length+xAxis[1].length),
                            type: 'lines',
                            name: '공포'
                        };
                        var happiness = {
                            x: xAxis[1],
                            y: happinessList.slice(xAxis[0].length,xAxis[0].length+xAxis[1].length),
                            type: 'lines',
                            name: '행복'
                        };
                        var neutral = {
                            x: xAxis[1],
                            y: neutralList.slice(xAxis[0].length,xAxis[0].length+xAxis[1].length),
                            type: 'lines',
                            name: '중립'
                        };
                        var sadness = {
                            x: xAxis[1],
                            y: sadnessList.slice(xAxis[0].length,xAxis[0].length+xAxis[1].length),
                            type: 'lines',
                            name: '슬픔'
                        };
                        var surprise = {
                            x: xAxis[1],
                            y: surpriseList.slice(xAxis[0].length,xAxis[0].length+xAxis[1].length),
                            type: 'lines',
                            name: '놀람'
                        };
                        var layout = {
                            title: '질문2 감정 변화 추이',
                            xaxis: {
                                title: '시간'
                            },
                            yaxis: {
                                title: '감정 비중'
                            }
                        }
                        var data = [anger, contempt, disgust, fear, happiness, neutral, sadness, surprise];
                        Plotly.newPlot('linechart2', data, layout);

                        var anger = {
                            x: xAxis[2],
                            y: angerList.slice(xAxis[1].length,xAxis[1].length+xAxis[2].length),
                            type: 'lines',
                            name: '화남'
                        };
                        var contempt = {
                            x: xAxis[2],
                            y: contemptList.slice(xAxis[1].length,xAxis[1].length+xAxis[2].length),
                            type: 'lines',
                            name: '경멸'
                        };
                        var disgust = {
                            x: xAxis[2],
                            y: disgustList.slice(xAxis[1].length,xAxis[1].length+xAxis[2].length),
                            type: 'lines',
                            name: '역겨움'
                        };
                        var fear = {
                            x: xAxis[2],
                            y: fearList.slice(xAxis[1].length,xAxis[1].length+xAxis[2].length),
                            type: 'lines',
                            name: '공포'
                        };
                        var happiness = {
                            x: xAxis[2],
                            y: happinessList.slice(xAxis[1].length,xAxis[1].length+xAxis[2].length),
                            type: 'lines',
                            name: '행복'
                        };
                        var neutral = {
                            x: xAxis[2],
                            y: neutralList.slice(xAxis[1].length,xAxis[1].length+xAxis[2].length),
                            type: 'lines',
                            name: '중립'
                        };
                        var sadness = {
                            x: xAxis[2],
                            y: sadnessList.slice(xAxis[1].length,xAxis[1].length+xAxis[2].length),
                            type: 'lines',
                            name: '슬픔'
                        };
                        var surprise = {
                            x: xAxis[2],
                            y: surpriseList.slice(xAxis[1].length,xAxis[1].length+xAxis[2].length),
                            type: 'lines',
                            name: '놀람'
                        };
                        var layout = {
                            title: '질문3 감정 변화 추이',
                            xaxis: {
                                title: '시간'
                            },
                            yaxis: {
                                title: '감정 비중'
                            }
                        }
                        var data = [anger, contempt, disgust, fear, happiness, neutral, sadness, surprise];
                        Plotly.newPlot('linechart3', data, layout);

                        var anger = {
                            x: xAxis[3],
                            y: angerList.slice(xAxis[2].length,xAxis[2].length+xAxis[3].length),
                            type: 'lines',
                            name: '화남'
                        };
                        var contempt = {
                            x: xAxis[3],
                            y: contemptList.slice(xAxis[2].length,xAxis[2].length+xAxis[3].length),
                            type: 'lines',
                            name: '경멸'
                        };
                        var disgust = {
                            x: xAxis[3],
                            y: disgustList.slice(xAxis[2].length,xAxis[2].length+xAxis[3].length),
                            type: 'lines',
                            name: '역겨움'
                        };
                        var fear = {
                            x: xAxis[3],
                            y: fearList.slice(xAxis[2].length,xAxis[2].length+xAxis[3].length),
                            type: 'lines',
                            name: '공포'
                        };
                        var happiness = {
                            x: xAxis[3],
                            y: happinessList.slice(xAxis[2].length,xAxis[2].length+xAxis[3].length),
                            type: 'lines',
                            name: '행복'
                        };
                        var neutral = {
                            x: xAxis[3],
                            y: neutralList.slice(xAxis[2].length,xAxis[2].length+xAxis[3].length),
                            type: 'lines',
                            name: '중립'
                        };
                        var sadness = {
                            x: xAxis[3],
                            y: sadnessList.slice(xAxis[2].length,xAxis[2].length+xAxis[3].length),
                            type: 'lines',
                            name: '슬픔'
                        };
                        var surprise = {
                            x: xAxis[3],
                            y: surpriseList.slice(xAxis[2].length,xAxis[2].length+xAxis[3].length),
                            type: 'lines',
                            name: '놀람'
                        };
                        var layout = {
                            title: '질문4 감정 변화 추이',
                            xaxis: {
                                title: '시간'
                            },
                            yaxis: {
                                title: '감정 비중'
                            }
                        }
                        var data = [anger, contempt, disgust, fear, happiness, neutral, sadness, surprise];
                        Plotly.newPlot('linechart4', data, layout);

                        var anger = {
                            x:xAxis[4],
                            y: angerList.slice(xAxis[3].length,xAxis[3].length+xAxis[4].length),
                            type: 'lines',
                            name: '화남'
                        };
                        var contempt = {
                            x:xAxis[4],
                            y: contemptList.slice(xAxis[3].length,xAxis[3].length+xAxis[4].length),
                            type: 'lines',
                            name: '경멸'
                        };
                        var disgust = {
                            x:xAxis[4],
                            y: disgustList.slice(xAxis[3].length,xAxis[3].length+xAxis[4].length),
                            type: 'lines',
                            name: '역겨움'
                        };
                        var fear = {
                            x:xAxis[4],
                            y: fearList.slice(xAxis[3].length,xAxis[3].length+xAxis[4].length),
                            type: 'lines',
                            name: '공포'
                        };
                        var happiness = {
                            x:xAxis[4],
                            y: happinessList.slice(xAxis[3].length,xAxis[3].length+xAxis[4].length),
                            type: 'lines',
                            name: '행복'
                        };
                        var neutral = {
                            x:xAxis[4],
                            y: neutralList.slice(xAxis[3].length,xAxis[3].length+xAxis[4].length),
                            type: 'lines',
                            name: '중립'
                        };
                        var sadness = {
                            x:xAxis[4],
                            y: sadnessList.slice(xAxis[3].length,xAxis[3].length+xAxis[4].length),
                            type: 'lines',
                            name: '슬픔'
                        };
                        var surprise = {
                            x:xAxis[4],
                            y: surpriseList.slice(xAxis[3].length,xAxis[3].length+xAxis[4].length),
                            type: 'lines',
                            name: '놀람'
                        };
                        var layout = {
                            title: '질문5 감정 변화 추이',
                            xaxis: {
                                title: '시간'
                            },
                            yaxis: {
                                title: '감정 비중'
                            }
                        }
                        var data = [anger, contempt, disgust, fear, happiness, neutral, sadness, surprise];
                        Plotly.newPlot('linechart5', data, layout);

                        var data = [{
                            values: emotionFreq[0],
                            labels: ['화남', '경멸', '역겨움', '공포', '행복', '중립', '슬픔', '놀람'],
                            type: 'pie',
                            hoverinfo: 'label+percent',
                        }];
                        var layout = {
                            title: '질문1 감정 빈도',
                        }
                        Plotly.newPlot('piechart1', data, layout);
                        
                        var data = [{
                            values: emotionFreq[1],
                            labels: ['화남', '경멸', '역겨움', '공포', '행복', '중립', '슬픔', '놀람'],
                            type: 'pie',
                            hoverinfo: 'label+percent',
                        }];
                        var layout = {
                            title: '질문2 감정 빈도',
                        }
                        Plotly.newPlot('piechart2', data, layout);

                        var data = [{
                            values: emotionFreq[2],
                            labels: ['화남', '경멸', '역겨움', '공포', '행복', '중립', '슬픔', '놀람'],
                            type: 'pie',
                            hoverinfo: 'label+percent',
                        }];
                        var layout = {
                            title: '질문3 감정 빈도',
                        }
                        Plotly.newPlot('piechart3', data, layout);

                        var data = [{
                            values: emotionFreq[3],
                            labels: ['화남', '경멸', '역겨움', '공포', '행복', '중립', '슬픔', '놀람'],
                            type: 'pie',
                            hoverinfo: 'label+percent',
                        }];
                        var layout = {
                            title: '질문4 감정 빈도',
                        }
                        Plotly.newPlot('piechart4', data, layout);

                        var data = [{
                            values: emotionFreq[4],
                            labels: ['화남', '경멸', '역겨움', '공포', '행복', '중립', '슬픔', '놀람'],
                            type: 'pie',
                            hoverinfo: 'label+percent',
                        }];
                        var layout = {
                            title: '질문5 감정 빈도',
                        }
                        Plotly.newPlot('piechart5', data, layout);
                    </script>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            음성 인식 결과
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                        synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            성향 분석 결과
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                        synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
        <!-- panel-group -->
        <div>
            <a href="#" class="top">Top</a>
        </div>
    </div>
    <!-- container -->
</body>

</html>