{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AIS - A.I Interview Simulator</title>

  <!-- Bootstrap core CSS -->
  <link href='{%static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href='{%static "vendor/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
  <link href='{%static "css/guide_modal.css" %}' rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href='{%static "css/agency.min.css" %}' rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container" style="background-color: darkgray">
      <a class="navbar-brand js-scroll-trigger" style="color: White" href="/">AIS</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#introduction">Introduction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interview">Interview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#results">Results</a>
          </li>

          <!-- 로그인에 성공하면 sign in은 안보이게 바뀐다 -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/member/logout/">Logout</a>
          </li>

          <!-- 로그인에 성공하면 사용자의 이름으로 바뀐다 -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" id="name"></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <section class="bg-light" style="height: 800px" id="interview">
    <div class="container">

      <!-- Page Heading -->

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#">
              <img class="card-img-top" src="http://placehold.it/700x400" alt="">
            </a>
            <div class="card-body">
              <h4 class="card-title text-md-center">
                <a href="#">연습 면접</a>
              </h4>
              <p class="card-text text-md-center">실시간 피드백 어쩌구</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/interviews/test/hw-check/">
              <img class="card-img-top" src="http://placehold.it/700x400" alt="">
            </a>
            <div class="card-body">
              <h4 class="card-title text-md-center">
                <a href="/interviews/test/hw-check/">실전 면접</a>
              </h4>
              <p class="card-text text-md-center">실전 환경 어쩌구</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/interviews/record">
              <img class="card-img-top" src="http://placehold.it/700x400" alt="">
            </a>
            <div class="card-body">
              <h4 class="card-title text-md-center">
                <a href="/interviews/record">면접 내역</a>
              </h4>
              <p class="card-text text-md-center">그동안 해온 면접 어쩌구</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    
  <div class="modal-wrapper open">
    <div class="modal">
      <div class="head">
        <a class="btn-close trigger" href="#">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <h6 class="modal-title"> 모의 면접 유의사항 </h6>
      </div>
      <div class="content">
          <p>1. 카메라 장비가 필요합니다. 얼굴 촬영을 위해 PC에서는 외장 카메라를 준비하여 주시고, 노트북에서는 내장되어있는 웹캠을 사용하실 수 있습니다.</p>
          <p>2. 음성 녹화를 위한 마이크가 필요합니다. 헤드셋 또는 내장 마이크를 준비해주십시오.</p>
          <p>3. 본 서비스는 크롬 브라우저 환경만 지원하고 있습니다.</p>
          <p>4. 조용한 환경에서 서비스를 이용할 시 더 정확한 결과를 얻으실 수 있습니다.</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Your Website 2018</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src='{%static "vendor/jquery/jquery.min.js" %}'></script>
  <script src='{%static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

  <!-- Plugin JavaScript -->
  <script src='{%static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>

  <!-- Custom scripts for this template -->
  <script src='{%static "js/agency.min.js" %}'></script>
  <script>
  $( document ).ready(function() {
      $('.btn-close').click(function(){
        $(".modal-wrapper").toggleClass("open");
      });
  });
  </script>
</body>

</html>