{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>AIS - A.I Interview Simulator</title>

	<!-- jQuery Import -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Bootstrap core CSS -->
	<link href='{%static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href='{%static "vendor/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

	<!-- Custom styles for this template -->
	<link href='{%static "css/agency.min.css" %}' rel="stylesheet">
	<link href='{%static "css/mainMenu.css" %}' rel="stylesheet">

	<!-- Auto Modal -->
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<style>
		.btn-start{
			width: 180px;
			height: 70px;
			border: 2px solid #ffffff;
			border-radius: 10px;
			color: white;
			background-color: rgba(255, 255, 255, 0.1);
			font-size: 20px;
			font-weight: bold;
		}
		
		.btn-start:hover{
			background-color: rgba(255, 255, 255, 0.7);
			color: #959799;
		}

		.panel-title{
			font-size: 32px;
			font-weight: bold;
		}
		
		.panel-content{
			font-size: 18px;
			font-weight: bold;
		}
	</style>

</head>

<body id="page-top">

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg" style="height: 75px;background-color: rgb(44,62,80); text-transform: none" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top" style="color: white;" onclick="window.location.replace('/');">AIS</a>
			<button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
			<div class="collapse navbar-collapse" id="navbarResponsive" style="background-color: rgb(44,62,80);">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item mx-0 mx-lg-1">
						<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/interviews/training/hw-check/">Practice</a>
					</li>
					<li class="nav-item mx-0 mx-lg-1">
						<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/interviews/test/hw-check/">Test</a>
					</li>
					<li class="nav-item mx-0 mx-lg-1">
						<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/interviews/record">Record</a>
					</li>
					<li class="nav-item mx-0 mx-lg-1">
						<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/member/logout/">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<!--Menu Select-->
	<div style="height: 620px; -webkit-box-align: center; -webkit-box-pack: center; display: -webkit-box;">
		<div id="panel">
			<div class="project wow animated fadeInLeft" style="background-image: url('../../static/img/panel1.png'); margin: 10px;">
				<div class="project-hover" style="background-image: url('../../static/img/panel1-2.png');">
					<p class="panel-title">면접 TIP</p>
					<hr />
					<br><br><br>
					<p>{{content}}</p>
				</div>
			</div>
			<div class="project wow animated fadeInLeft" style="background-image: url('../../static/img/panel2.png');  margin: 10px;">
				<div class="project-hover" style="background-image: url('../../static/img/panel2-2.png');">
					<p class="panel-title">연습 면접</p>
					<hr />
					<br><br>
					<p class="panel-content">실시간으로 제공되는 피드백<br>(표정, 자세, 언어 습관)을 통해<br>면접을 연습할 수 있습니다. </p>
					<br><br><br>
					<button class="btn-start" onclick = "location.href='/interviews/training/hw-check'"> 시작하기 </button>
				</div>
			</div>
			<div class="project wow animated fadeInLeft" style="background-image: url('../../static/img/panel3.png');  margin: 10px;">
				<div class="project-hover" style="background-image: url('../../static/img/panel3-2.png');">
					<p class="panel-title">실전 면접</p>
					<hr />
					<br><br>
					<p class="panel-content">실제처럼 진행되는 면접으로 <br>사용자의 면접 상태를 분석하여 <br> 개선 방향을 제시해드립니다.</p>
					<br><br><br>
					<button class="btn-start" onclick = "location.href='/interviews/test/hw-check/'"> 시작하기 </button>
				</div>
			</div>
			<div class="project wow animated fadeInLeft" style="background-image: url('../../static/img/panel4.png');  margin: 10px;">
				<div class="project-hover" style="background-image: url('../../static/img/panel4-2.png');">
					<p class="panel-title">결과 내역</p>
					<hr />
					<br><br>
					<p class="panel-content">지금까지 진행한 면접의<br>결과를 보면서 자신이 어떻게<br>성장했는지 확인할 수 있습니다.</p>
					<br><br><br>
					<button class="btn-start" onclick = "location.href='/interviews/record'"> 확인하기 </button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 800px;">
			<div class="modal-content" style="width: auto;">
				<div class="modal-header">
					<p class="modal-title" id="exampleModalLongTitle"> &nbsp;면접 유의 사항</p>
					<a style="font-size: 32px; font-weight: bold;" href="javascript:void(0)" data-dismiss="modal">&times;</a>
				</div>

				<div class="modal-body" style="width: 800px;">
					<div class="modal-pop" style="margin-left: 5px;">
						<br>
						<a class="popup-title">①</a>
						<br><br>
						<img src="../../static/img/popup/camera.png">
						<br><br>
						<a class="popup-content">내장 카메라가 없다면<br>외부 카메라를 연결해주세요.</a>
					</div>
					<div class="modal-pop">
						<br>
						<a class="popup-title">②</a>
						<br><br>
						<img src="../../static/img/popup/mic.png">
						<br><br>
						<a class="popup-content">헤드셋 또는 마이크를<br>연결해주세요.</a>
					</div>
					<div class="modal-pop">
						<br>
						<a class="popup-title">③</a>
						<br><br>
						<img src="../../static/img/popup/chrome.png">
						<br><br>
						<a class="popup-content">면접은 크롬 브라우저를<br>통해서만 진행할 수 있습니다.</a>
					</div>
					<div class="modal-pop" style="margin-right: 5px;">
						<br>
						<a class="popup-title">④</a>
						<br><br>
						<img src="../../static/img/popup/noise.png">
						<br><br>
						<a class="popup-content">주변 소음이 크면 면접 결과가<br>부정확할 수 있습니다.</a>
					</div>
				</div>

				<div class="modal-footer"></div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div style="text-align: center;">
		<div style="width: 33.3%; height: 150px; float: left; background-color: rgb(44,62,80);">
			<br>
			<a style="color:white; font-size: 24px; font-weight: bold">Copyright</a>
			<br><br>
			<a style="color: white; font-size: 18px;">&copy; 2018 Human Learning. &nbsp; All Rights Reserved </a>
		</div>
		<div style="width: 33.3%; height: 150px; float: left; background-color: rgb(44,62,80);">
			<br>
			<a style="color:white; font-size: 24px;  font-weight: bold">About Us&nbsp; </a>
			<br><br>
			<a href="https://github.com/daegweon/ai_interview_simulator"> <i style="color: white; font-size:30px" class="fa">&#xf09b;</i> </a>
			<a> &nbsp; &nbsp; </a>
			<a> <i style="color: white; font-size:30px;" class="fa">&#xf08c;</i> </a>
			<a> &nbsp; &nbsp; </a>
			<a href="#"> <i style="color: white; font-size:30px;" class="fa">&#xf0d5;</i> </a>
			<br><br>
		</div>
		<div style="width: 33.3%; height: 150px; float: left; background-color: rgb(44,62,80);">
			<br>
			<a style="color:white; font-size: 24px; font-weight: bold">Contact Us&nbsp; </a>
			<br><br>
			<a style="color: white; font-size: 18px;">quwieo@ajou.ac.kr</a>
		</div>
	</div>

	<script>
		$(window).load(function() {
			$('#exampleModalCenter').modal('show');
		});

	</script>

	<!-- Bootstrap core JavaScript -->
	<script src='{%static "vendor/jquery/jquery.min.js" %}'></script>
	<script src='{%static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

	<!-- Plugin JavaScript -->
	<script src='{%static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>

	<!-- Custom scripts for this template -->
	<script src='{%static "js/agency.min.js" %}'></script>

</body>

</html>
