{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>AIS - A.I Interview Simulator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='{%static "js/stt.js" %}'></script>
    <script src='{%static "js/realtimeface.js" %}'></script>
    <link href='{%static "css/OnAir.css" %}' rel="stylesheet">
    <script>
        var ques_id = {{ ques_id | safe }};
        var ques_text = {{ ques_text | safe}};
        getKey();
    </script>
    <script>
        var final_transcript = "";
        function startSpeechToText() {
            final_transcript = "";
            annyang.start({ autoRestart: true, continuous: true });
            var recognition = annyang.getSpeechRecognizer();
            recognition.interimResults = true;
            recognition.onresult = function (event) {
                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    if (event.results[i].isFinal) {
                        final_transcript += " " + event.results[i][0].transcript;
                        console.log("final_transcript=" + final_transcript);
                        //annyang.trigger(final_transcript); //If the sentence is "final" for the Web Speech API, we can try to trigger the sentence
                    }
                }
            };
        }
        function stopSpeechToText() {
            annyang.abort();
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Projects</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/member/logout/">
                            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">

            <div class="col-sm-8 sidenav">
                <br>

                <video id="gum" style="border: 1px solid black; align-items: center;" autoplay muted width="70%"></video>
                <canvas id="snapshot" width=500 height=350 style="display: none;"></canvas>
                <br>
                <br>
                <h4 id="question">시작 버튼을 누르시면 질문이 표시됩니다.</h4>
                <br>
                <div>
                    <button type="button" id="camOnOff" class="btn btn-danger">카메라 OFF</button>
                    <button type="button" id="record" class="btn btn-primary" disabled>면접 시작</button>
                    <button type="button" id="finInterview" class="btn btn-success" style="text-align: right; display: none;" onclick="window.location.href='{% url 'testResult' ic=interview_count %}'">결과 보기</button>
                </div>
            </div>
            <div class="col-sm-4 sidenav">
                <div class="well">
                    <p id="timer">00:00</p>
                </div>
                <div class="well">
                    <p id="result"></p>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>
    <script src='{%static "js/recordcopy.js" %}'></script>
</body>

</html>